html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(180deg, #0468BF 21.39%, #049DD9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    /* padding: 0; */
}

.heading{
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-style: normal; */
    color: #FFFFFF;
    display: block;
    margin: 0.4rem;
    
}

#main-heading{
    /* position: relative; */
    /* display: block; */
    font-weight: 600;
    font-size: 4.0rem;
    line-height: 5.5rem;
    /* top: 168px; */
    margin: 16.8rem 3.2rem 0 3.2rem;
    background-color: purple;
}

#sub-heading{
    /* position: relative; */
    /* display: block; */
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.7rem;
    /* top: 22.7rem; */
    /* top: 150px; */
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    background-color: purple;
}

#input-field                {
    position: relative;
    width: 58.9rem;
    height: 5.6rem;
    left: calc(50% - 589px/2 - 0.5px);
    margin: 5.7rem 0 0 0;
    /* top: 31.1rem; */
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}

#user-input{
    position: absolute;
    height: 100%;
    width: 45.9rem;
    border: none;
    border-radius: 0.4rem;
    /* margin: 1.6rem; */
    padding: 0 1.6rem 0 1.6rem;

    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.7rem;

    color: rgba(13, 11, 12, 0.5);
}

#user-input:focus{
    background: rgba(255, 255, 255, 0.9);
    color: #0D0B0C;
}

#btn{
    position: absolute;
    width: 13.0rem;
    height: 100%;
    background: #049DD9;
    border: none;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
    right: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.7rem;
    color: white;
}

.visibility{
    /* display: none; */
}


footer{
    position: relative;
    height: 4.8rem;
    width: 100%;
    /* top: 100%; */
    margin-top: 100vh;
    background-color: red;
    /* background: #0090CE; */
}

footer p{
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    color: #F2F2F2;
    padding-top: 1.6rem;
}

#messages{
    width: 50px;
    height: 50px;
    /* background-color: red; */
}

.output-container{
    width: 50px;
    height: 50px;
    /* background-color: salmon; */
}

#check-icon{
    position: absolute;
    line-height: 137px;
    width: 589px;
    height: 106px;
    left: calc(50% - 589px/2 - 0.5px);
    background-color: peru;
    /* margin: 0 100px 0 100px; */
    text-align: center;
}

#image0{
    position: absolute;
    text-align: center;
    left: 50%;
}