html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(180deg, #0468BF 21.39%, #049DD9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    /* padding: 0; */
}

.heading{
    /* position: absolute; */
    text-align: center;
    /* font-family: Futura; */
    font-style: normal;
    color: #FFFFFF
}

#main-heading{
    position: relative;
    /* display: block; */
    font-weight: 800;
    font-size: 4.0rem;
    line-height: 5.5rem;
    top: 16.8rem;
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    /* background-color: greenyellow; */
}

#sub-heading{
    position: relative;
    /* display: block; */
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.7rem;
    top: 16.8rem;
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    /* background-color: greenyellow; */
}

#input-field                {
    position: relative;
    width: 58.9rem;
    height: 5.6rem;
    left: calc(50% - 589px/2 - 0.5px);
    top: 31.1rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}

#user-input{
    position: absolute;
    height: 100%;
    width: 45.9rem;
    border: none;
    border-radius: 0.4rem;
    /* margin: 1.6rem; */
    padding: 0 1.6rem 0 1.6rem;

    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.7rem;

    color: rgba(13, 11, 12, 0.5);
}

#btn{
    position: absolute;
    width: 13.0rem;
    height: 100%;
    background: #049DD9;
    border: none;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
    right: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.7rem;
    color: white;
}

.visibility{
    display: none;
}


footer{
    position: absolute;
    height: 4.8rem;
    width: 100%;
    top: 67.2rem;
    bottom: 0rem;
    margin: 0rem;
    background-color: yellow;
    /* background: #0090CE; */

}