.visibility{
    display: block;
    left: 80px;
}

#outputDiv .icon{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 15px;
    margin: 10px;
    /* display: none; */
    z-index: 5;
}

#outputDiv #check-icon{
    fill: green;
}

#outputDiv #cross-icon{
    color: red;
}

